@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2563eb;
  --color-primary-dull: #f158d8;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}
